
.csl-entry {
    display: flex;
    margin: 5px 0;
}

.csl-left-margin {
    margin: 0 10px 0 0;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

.label foreignObject {
    overflow: visible;
}

strong.highlight {
    border-bottom: 3px solid #17a34a;
    padding-bottom: 1.5px;
}

.commandPallete-hidden {
    display: none;
}

a {
    text-decoration: none !important;
}