
.csl-entry {
    display: flex;
    margin: 5px 0;
}

.csl-left-margin {
    margin: 0 10px 0 0;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

.label foreignObject {
    overflow: visible;
}

strong.highlight {

    margin: 0 -0.2em;
    padding: 0.1em 0.4em;
    border-radius: 0.8em 0.3em;
    background: transparent;
    background: linear-gradient(90deg, rgba(0, 229, 255, 0.8) 0%, rgba(1, 217, 255, 0.7) 35%, rgba(5, 234, 255, 0.4) 90%);
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.commandPallete-hidden {
    display: none;
}

.command-palette .max-w-xl {
    max-width: 50rem !important;
}

a {
    text-decoration: none !important;
}

@media (prefers-color-scheme: dark) {
    .aurora:after {
        background-image: linear-gradient(to bottom, rgba(23,23,23,0), rgb(23, 23, 23) 75%);
    }
}

@media (prefers-color-scheme: light) {
    .aurora:after {
        background-image: linear-gradient(to bottom, rgba(255,255,255, 0), rgba(255,255,255, 1) 75%);
    }
  }

a[data-state="closed"], a[data-state="open"] {
    vertical-align: middle;
}

@media (prefers-color-scheme: dark) {
    .command-palette .bg-gray-900 {
        background-color: rgb(36 37 40 / 70%) ; 
    }
}

.command-palette .hover\:bg-gray-100:hover:is(.dark *) {
    background-color: rgb(36 37 40 / 70%) !important;
}

.command-palette *:is(.dark *){
    border-color: #404040;
}

aside {
    width: 170px;
    position: absolute;
    margin: 0 -20%;
    font-size: 12px;
    border-bottom: 1px solid rgb(23, 163, 74);
    padding: 10px 0;
}

@media (max-width: 1650px) {
    aside {
        width: auto;
        position: relative;
        margin: 0;
        font-size: inherit;
        border: none;
        padding: 0;
    }
    
}

.references {
    margin: 0 0 2em;
}

.references div{
    font-size: 14px;
}
.references:before {
    content: "References";
    font-size: 2.5em;
    font-weight: bold;
    font-family: var(--font-space-inter), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    border-bottom: 1px solid #ddd;
    width: 100%;
    display: block;
    margin: 0 0 .5em;
}

.caption {
    display: table;
    font-size: 14px;
    color: #6b7280;
    text-align: center;
    width: 100%;
}
summary {
    font-size: 20px;
    font-weight: bold;
}

.rehype-code-group {
    display: grid;
    gap: 0.6rem;
  }
  .rcg-tab-container {
    display: flex;
    border-bottom: 1px solid #ddd;
  }
  .rcg-tab {
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: none;
    background: none;
    &.active {
      border-bottom: 2px solid;
      font-weight: bold;
    }
  }
  .rcg-block {
    display: none;
    overflow-x: auto;
    &.active {
      display: block;
    }
  }