
.csl-entry {
    display: flex;
    margin: 5px 0;
}

.csl-left-margin {
    margin: 0 10px 0 0;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

.label foreignObject {
    overflow: visible;
}

strong.highlight {
    background: linear-gradient(90deg, rgba(23, 163, 74, 0.9) 0%, rgba(23, 163, 74, 0.8) 35%, rgba(23, 163, 74, 0.7) 90%);
    padding-bottom: 1.5px;
    color: #fff;
    padding: 2px 4px;
    border-radius: 4px;
}

.commandPallete-hidden {
    display: none;
}

.command-palette .max-w-xl {
    max-width: 50rem !important;
}

a {
    text-decoration: none !important;
}

@media (prefers-color-scheme: dark) {
    .aurora:after {
        background-image: linear-gradient(to bottom, rgba(23,23,23,0), rgb(23, 23, 23) 75%);
    }
}

@media (prefers-color-scheme: light) {
    .aurora:after {
        background-image: linear-gradient(to bottom, rgba(255,255,255, 0), rgba(255,255,255, 1) 75%);
    }
  }

a[data-state="closed"], a[data-state="open"] {
    vertical-align: middle;
}

@media (prefers-color-scheme: dark) {
    .command-palette .bg-gray-900 {
        background-color: rgb(36 37 40 / 70%) ; 
    }
}

.command-palette .hover\:bg-gray-100:hover:is(.dark *) {
    background-color: rgb(36 37 40 / 70%) !important;
}

.command-palette *:is(.dark *){
    border-color: #404040;
}